debug: true

host_href: 'http://localhost'

salt_secret: '12345'

listen:
  ip: '0.0.0.0'
  port: 6543
tls:
  cert: null
  key: null

mongo:
  url: 'mongodb://localhost:27017'
  db: 'goswift'

swift:
    keystone_url: 'https://genostack-api-keystone.genouest.org/v3'
    swift_url: 'https://genostack-api-swift.genouest.org'
    admin:
        os_user_id: 'XXX'
        os_user_password: 'YYYY'
        os_user_project: 'ZZZZ'
        os_user_domain: 'Users'
    defaults:
        domain: 'Users'
    quotas: '1GB' # Quotas in bytes, human readable

elastic:
    hosts:
    #  - 'localhost'
    index: 'goswift'
