debug: true

salt_secret: 'xyz' # unique secret used to hash projects to generate tmpurls

host_href: null

listen:
  ip: '0.0.0.0'
  port: 6543
tls:
  cert: null
  key: null

swift:
    keystone_url: null # 'https://x.y.zg/v3'
    swift_url: null # 'https://x.y.z' without /v1
    admin:
        os_user_id: null
        os_user_password: null
        os_user_project: null
        os_user_domain: null
    defaults:
        domain: 'Users'
    quotas: '1G'
